[Desktop Entry]
Name=Digital Clock Mod

Comment=Time displayed in a digital format

Icon=preferences-system-time
Type=Service
X-KDE-ParentApp=org.kde.plasmashell
X-KDE-PluginInfo-Author=Marina Miyaoka
X-KDE-PluginInfo-Email=miyaokamarina@gmail.com
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=org.kde.plasma.digitalclockmod
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/miyaokamarina/org.kde.plasma.digitalclockmod
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-KDE-PluginInfo-Category=Date and Time
X-Plasma-Provides=org.kde.plasma.time,org.kde.plasma.date
X-KDE-FormFactors=tablet,handset,desktop
X-Plasma-MainScript=ui/main.qml
